.app {
  background: #F79D9D;
  text-align: center;
  height:max-content;
}

table {
  text-align: center;
}
.card {
  margin-left: auto;
  margin-right: auto;


}

.Header {
  background-color: rgb(134, 134, 134);
  height: 40px;
}
